@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";
@plugin "@tailwindcss/typography";




:root {
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #e6ccff;
}

::-webkit-scrollbar {
  display: none;
}

@custom-variant dark (&:where(.dark, .dark *));

.loader div:nth-child(2) {
   animation-delay: 0.2s;

}

.loader div:nth-child(3) {
   animation-delay: 0.4s;

}

/* Scroll k ekdom bhashaman (smooth) korar jonno */
html, .custom-scrollbar {
  scroll-behavior: smooth !important;
}

/* Optional: Ekta chotto transition effect scroll container-e */
.custom-scrollbar {
  transition: all 0.5s ease-in-out;
}



